html { -webkit-text-size-adjust: none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 12px;
    font-family: Gotham, sans-serif; 
    color: #FFFFFF;
    text-align: center;
    background-color: #1D2731;
}

header {
    font-family: Brandon Grotesque, serif;
    background-color: #1D2731;
    text-align: center;
}

.sitelogo {
    float: center;
    width: 135px;
    height: 135px;
}

h1, h2, h3 {
    font-family: Brandon Grotesque, serif;  
    color: #D9B310;
}

h1 {
    font-size: 24px;
}

.subheading {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;  
}

#townimage{
    max-width: 500px;
}


main {
    background-color: #0B3C5D;
}

nav ul {
	display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

nav ul.show {
	display: flex;
    display: -ms-flexbox;
}

nav ul.hide {
	display: block;
}
        
nav ul li {
	list-style: none;
    flex-basis: 100%;
    -ms-flex: 100%;
}

.navigationmenu { 
    background-color: #D9B310;
    margin:0;
    padding: 0;
}

.navigationmenu li a {
    font-family: 'Brandon Grotesque', Georgia; serif;
    text-align: center;
    text-shadow: .5px .5px 1.5px #c0c0c0;
    font-size: medium;
    display: block;
    color: #328CC1;
    padding: .5rem 0;
    text-decoration: none;
}
.navigationmenu li a:hover {
    background-color: #FFFFFF;
    color: #143e7f;
}
.navigationmenu li a.active {
    background-color: #D9B310;
    color: #B2CFFF;
}

main figure.myphoto {
    margin: 0;
    width: 50%;
}

main figure.myphoto img {
    width: 100%;
}

.weather-summary, .highlow, .current, .conditions {
    display: inline-block;
}

table {
    display: inline-block;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid #328CC1;
}

.town-article {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

article, .town-center {
    display: inline-block;
}

.galleryheadline {
    'Brandon Grotesque', Georgia; serif;
    color: #1D2731;
    font-size: xx-large;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 5px;
}

main div.photoFullWidth {
    margin: 0;
    margin-left: 2%;
    width: 50%;
}

div.gallery {
	padding: 0 2%;
	display: grid;
	grid-template-columns: repeat(1, 100%);
}

div.gallery figure {
	margin: 2rem 0; border: 1px solid #aaa;
}

div.gallery figure img {
	width: 50%;
}

div.gallery figure figcaption {
	text-align: center; font-size: .9rem;
}

footer {
    background-color: #1D2731;
    text-align: center;
    color: #D9B310;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px; 
}
